body {
    /* background-image: url(../images/cool-background.svg); */
    height: 100vh;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #d1cfcf;
    margin: 0;
    padding-top: 50px;
}

header {
    color: rgb(62, 196, 196);
    text-align: center;
    margin-top: 50px;
}

.responsive-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 999;
}

.bigSize{
    display: none;
    list-style-type: none;
}

.iconContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.menu-items{
    margin: 0;
    padding: 0;
}

.menu-items li a:hover{
    background-color: rgb(255, 162, 178);
    color: blue !important;
}

.menu-items li{
    margin-bottom:10px;
    border: solid white;
}

.menu-items li>a{
    text-decoration: none;
    display: block;
    padding: 5px;
}

.menu-icon {
    cursor: pointer;
}

.menu-icon-bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}

.smallSize:hover .menu-items{
    display: block;
}

.smallSize .menu-items{
    display: none;
}

.menu-icon ul li:hover{
    background-color: rgb(255, 162, 178);
}

.about-section {
    padding: 20px;
}

.about-section h2 {
    color: rgb(62, 196, 196);
    font-size: 24px;
    margin-bottom: 10px;
}

.about-section p {
    color: grey;
    font-size: 16px;
    line-height: 1.5;
}

@media only screen and (min-width: 768px) {
    .responsive-menu {
      flex-direction: row;
    }
  
    .menu-items {
      display: flex;
      justify-content: flex-end;
    }
  
    .menu-items li {
      margin-left: 15px;
    }

    .smallSize{
        display: none;
    }

    body{
        background-size:contain;
    }

    header{
        margin-top: 0;
    }
}

